<!--Menu lateral referente a la busqueda de las rutas-->
<div>
    <ul id="ul1">
        <li>
            <form class="form-horizonal" >
                <!--radioButton Categorias-->
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" ng-model="$parent.categoria" value="1" name="cate" />
                        <span class="icon-peaje_categoria_1"></span>
                    </label>

                    <label class="btn btn-default">
                        <input type="radio" ng-model="$parent.categoria" value="2" name="cate"  />
                        <span class="icon-peaje_categoria_2"></span>
                    </label>

                    <label class="btn btn-default">
                        <input type="radio" ng-model="$parent.categoria" value="3" name="cate"  />
                        <span class="icon-peaje_categoria_3"></span>
                    </label>

                    <label class="btn btn-default">
                        <input type="radio" ng-model="$parent.categoria" value="4" name="cate"  />
                        <span class="icon-peaje_categoria_4"></span>
                    </label>
                    <div>Categoria: {{categoria}}</div>
                </div>

                <!--Origen y destino-->
                <div class="form-group">
                    <div class="input-group" id="origen">
                        <div class="input-group-addon" id="PuntoA">A</div>
                        <input type="text" ng-model="$ctrl.origen" ng-click="BtnUbicActualA()" placeholder="Ingrese origen" class="form-control input-lg" id="ingreseOrigen">
                    </div>

                    <button ng-show="BtnUbicActual" class="btn-warning btn-xs" ng-click="localizacion('origen')"> <span class="icon-gps"></button>
                    <br>

                    <div class="input-group" id="Destino">
                        <div class="input-group-addon" id="PuntoB">B</div>
                        <input type="text" ng-model="$ctrl.destino" ng-click="BtnUbicAactualD()" placeholder="Ingrese destino" class="form-control input-lg" id="ingreseDestino" >
                    </div>

                    <button ng-show="BtnUbicActual2" class="btn-warning btn-xs" ng-click="localizacion('destino')"> <span class="icon-gps"></button>
                    <br>
                </div>

                <!--btn Buscar-->
                <button ng-click="$ctrl.buscar()" class="btn btn-warning">Buscar</button>
            </form>
        </li>
    </ul>
</div>
