@charset "utf-8";

body {
/*background-image: url("../img/fondo.jpg"); */
}

#mapCanvas{
  width: 100%;
  height: 100%;
  position: absolute;
}

/*estilos para el header fijo*/

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:20px;
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
	
}
 
.wrapper {
	width:100%; /* Establecemos que el ancho sera del 100%0% */
	max-width:1100px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
 
header .logo {
	color:#f2f2f2;
	line-height:120px;
	float:left;
}
 
header nav {
	float:right;
	line-height:80px;
}
 
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:16px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
 header nav ul {
	display:inline-block;
	line-height:80px;
}
 
 .idioma {
 font-size:10px;
}
 
header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}


@media screen and (max-width: 500px) {
	header .logo,
	header nav {
		width:100%;
		text-align:center; /*Centramos el menu y el logotipo*/
		line-height:100px;
	}
 }

/*estilos para el formulario de login*/
			
.forlogin {
  width: 320px;
  margin:100px auto;
  color: #fff;
  background-color: #ADB0B0;
  border-color: #357ebd;
  border-radius:4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
        
}
/*estilos para el formulario de login*/

.formregistro {
  width: 400px;
  margin:100px auto;
  color: #fff;
  background-color: #ADB0B0;
  border-color: #357ebd;
  border-radius:4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
        
}


