/* Define the body style */
*{
  margin: 0px;
  padding: 0px
}

html {
    height: 100%;
}

body {
    font-family:Arial;
}

/* We remove the margin, padding, and list style of UL and LI components */
#menuwrapper ul, #menuwrapper ul li{
    margin:0;
    padding:0;
    list-style:none;
}

#menuwrapper {
    margin-top: 70px;
    /*height: 894px;*/
    height: 100%;
    width: 791px;

}

#sidemenu{
    background:#373833;
    width:65px;
    height:95%;
    position: fixed;

}
/* We apply background color and border bottom white and width to 150px */
#menuwrapper ul li{
    background-color:#373833;
    width:65px;
    cursor:pointer;
    text-align:center;
}

/* We apply the background hover color when user hover the mouse over of the li component */
#menuwrapper ul li:hover{
    /*position:relative;*/

}
#comollego .input-group-addon {
    font-weight: 700;
    font-size: 16px!important;
}


/* We apply the link style */
#menuwrapper ul li a{
    padding-top:20px;
    padding-bottom:20px;
    color:#555555;
    display:inline-block;
    text-decoration:none;
}

#menuwrapper ul li a.selected{
    color:#ddd;
}
#menuwrapper ul li a:hover{
    color:#fff;
    transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
}

#ingreseOrigen {
    position: relative;
    z-index: 2;
    float: left;
    width: 200px;
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#ingreseDestino {
    position: relative;
    z-index: 2;
    float: left;
    width: 200px;
    margin-bottom: 0;
}

.form-group{
    margin-top: 25px;
}


#menuwrapper ul li a:hover:after {
    content: "  ";
    visibility: visible;;
    display: inline-block;
    border-bottom: 0.8em solid transparent;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid #d2d2d2;
    border-top: 0.8em solid transparent;
    height: 0px;
    margin-top: -2px;
    position: absolute;
    left: 48px;
    width: 1px;
    transition:border-right 1s ease;
    -o-transition:border-right 1s ease;
    -webkit-transition:border-right 1s ease;
    -moz-transition:border-right 1s ease;
}

#menuwrapper ul li a.noflyout:hover:after {
    border-right: 0.8em solid transparent;
    transition:none;
    -o-transition:none;
    -webkit-transition:none;
    -moz-transition:none;
}
/**** SECOND LEVEL MENU ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
#menuwrapper ul li ul{
    position:absolute;
    display:block;
    visibility:hidden;
    height:100%;
    background-color:transaprent;
    width:0px;
    color:#000;
    position: fixed;

}

#botones {
    width: 300px
}

button.btn.btn-default.icon-pie.engine {
    border-radius: 4px;
    width: 60px;
    height: 52px;
    top: 5px;
}

button.btn.btn-default.icon-bici.engine {
    border-radius: 4px;
    width: 60px;
    height: 52px;
    top: 5px;
    margin-left: 27px;
}


button.btn.btn-default.icon-transporte.engine {
    border-radius: 4px;
    width: 60px;
    height: 52px;
    top: 5px;
    margin-left: 27px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

button.btn.btn-warning{
    margin-top: 20px;
    margin-left: 162px;
}

h4 {
    width: 200px;
    margin-top: 500px;
}

#menuwrapper ul li ul li{
    color:#000;
    background:transparent;
    padding:35px;
}
/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */

#menuwrapper ul li:active ul,
#menuwrapper ul li:hover ul{
    left:70px;
    top:70px;
    display:block;
    visibility:visible;
    width:300px;
    position: fixed;
    background-color:#d2d2d2;
    transition:background-color 0.5s ease;
    -o-transition:background-color 0.5s ease;
    -webkit-transition:background-color 0.5s ease;
    -moz-transition:background-color 0.5s ease;

}

.icon-Motocicleta,
.icon-Carro,
.icon-Bus,
.icon-Subir_Fotos{
    font-size: 30px;
    display: flex;
    justify-content: center;

}
