@font-face {
  font-family: 'icomoon';
  src:  url('/../../lib/fuente/icomoon.eot?weqd07');
  src:  url('/../../lib/fuente/icomoon.eot?weqd07#iefix') format('embedded-opentype'),
    url('/../../lib/fuente/icomoon.ttf?weqd07') format('truetype'),
    url('/../../lib/fuente/icomoon.woff?weqd07') format('woff'),
    url('/../../lib/fuente/icomoon.svg?weqd07#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Bus:before {
  content: "\e900";
  font-size: 30px;
}
.icon-Camara:before {
  content: "\e901";
}
.icon-Carro:before {
  content: "\e902";
  font-size: 30px;

}

.icon-Carro:visited {
  color:yellow;
 }

.icon-Español:before {
  content: "\e903";
}
.icon-Borrar:before {
  content: "\e904";
}
.icon-Guardar:before {
  content: "\e905";
  font-size: 200%;
}
.icon-Subir_Fotos:before {
  content: "\e906";
  font-size: 30px;
}
.icon-Vehiculo:before {
  content: "\e907";
}
.icon-Motocicleta:before {
  content: "\e908";
}
.icon-Peaje:before {
  content: "\e909";
}
.icon-Punto_A:before {
  content: "\e90a";
}
.icon-Punto_B:before {
  content: "\e90b";
}
.icon-Ingles .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-Ingles .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(58, 58, 109);
}
.icon-Ingles .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(150, 50, 57);
}
.icon-Ingles .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(150, 50, 57);
}
.icon-Ingles .path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(150, 50, 57);
}
.icon-Ingles .path6:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(150, 50, 57);
}
.icon-Ingles .path7:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(150, 50, 57);
}
.icon-Ingles .path8:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ingles .path9:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ingles .path10:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ingles .path11:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ingles .path12:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ingles .path13:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ingles .path14:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ingles .path15:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ingles .path16:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ingles .path17:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ingles_path18:before {
	content: "\e903";
	font-size: 20px;
	display: flex;
	justify-content: center;
  color: rgb(191, 10, 48);
}

