@charset "utf-8";
#mapa {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}


/*estilos caja mapa*/
.nube {
    color: black;
    margin: 0 0 25px;
    opacity: 0.88;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.gm-style-iw {
    background-color: white;
    border-color: #357ebd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    scrollbar-darkshadow-color: blue;
}
#iw-container {
    margin-bottom: 10px;
}
.iw-title {
    font-weight: bold;
    font-family: Arial;
    font-size: 34px;
    font-weight: 400;
    padding: 20px;
    text-align: center;
    color: black;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.description {
    font-family: roboto;
    width: auto;
    height: auto;
    font-size: 14px;
    color: #000;
    text-align: justify;
}
