<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Cabecera fija</title>
	<title>RUTAS POR COLOMBIA</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
 
<body>
	<div class="container">
	<div class="jumbotron forlogin">
	<form  action="" method="POST" id="login" name="login">
	<label> Usuario :</label>
	<input type="text" required="required" id="usuario" name="usuario" size='20' placeholder="Nombre de usuario" class="form-control">
	<label>Password:</label>
	<input type="password" required="required" id="password" name="password" size='20' placeholder="password" class="form-control">
	</br>
	<input type="submit" class="btn btn-success" name='boton' value="Ingresar" >
	<input type="button" class="btn btn-warning" name='boton' value="Cancelar" >
 </div>
 </div>
 

</form>	

	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	
	
 
	
</body>
</html>