<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Cabecera fija</title>
	<title>RUTAS POR COLOMBIA</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/registro.css">
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
 
<body>
	<div class="container">
	<div class="jumbotron formregistro">
	<form  action="" method="POST" id="registro" name="registro">
	<label>Nombres :</label>
	<input type="text" required="required" id="nombres" name="nombres" size='20' class="form-control">
	<label>Apellidos :</label>
	<input type="text" required="required" id="apellidos" name="apellidos" size='20' class="form-control">
	<label>Correo electronico :</label>
	<input type="email" required="required" id="correo" name="correo" size='20' class="form-control">
	<label>Contraseña :</label>
	<input type="text" required="required" id="pass" name="pass" size='20'  class="form-control">
	<label>Repetir contraseña :</label>
	<input type="text" required="required" id="password" name="password" size='20' class="form-control">
	</br>
	<label><input type="checkbox" value=""><a href="#" >  Terminos y condiciones</a> </label>
	</br>
	</br>
	<input type="submit" class="btn btn-success" name='boton' value="Registrarme" >
	<input type="button" class="btn btn-warning" name='boton' value="Cancelar" >
 </form>	
 
 </div>
 </div>
 



	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	
	
 
	
</body>
</html>