<section ng-controller='rutasColombiaBarCtrl'>
    
    <div class="container">
  <div class="jumbotron forlogin">
  <form  action="" method="POST" id="login" name="login">
  <label> Usuario :</label>
  <input type="text" required="required" id="usuario" name="usuario" size='20' placeholder="Nombre de usuario" class="form-control">
  <label>Password:</label>
  <input type="password" required="required" id="password" name="password" size='20' placeholder="password" class="form-control">
  </br>
  <input type="submit" class="btn btn-success" name='boton' value="Ingresar" >
  <input type="button" class="btn btn-warning" name='boton' value="Cancelar" >
 </div>
 </div>
 

</form> 

    