<section ng-controller='controladorRutasColombia'>
    <div id="menuwrapper">
            <ul id="sidemenu">

                <li><a href="#">v</a>
                    <ul>
                        <li>
                            <form class="form-horizonal">
                        <div id="botones" class="form-group btn-group btn-group-lg modo-transporte" aria-label="transporte">
                          <button tabindex="4" title="moto" type="button" data-engine="2" class="btn btn-default icon-pie engine"></button>
                          <button tabindex="5" title="carro" type="button" data-engine="1" class="btn btn-default icon-bici engine"></button>
                          <button tabindex="6" title="bus" data-engine="3" type="button" class="btn btn-default icon-transporte engine"></button>
                        </div>
                        <div class="form-group">
                          <div class="input-group" id="origen">
                            <div class="input-group-addon" id="PuntoA">A</div>
                            <input type="text" placeholder="Ingrese origen" class="form-control input-lg" id="ingreseOrigen" tabindex="1" autocomplete="off">
                            <div id="gui-delete-source" class="iconic-button cancel-marker input-delete"></div>
                          </div>


                          <div class="input-group" id="Destino">
                            <div class="input-group-addon" id="PuntoB">B</div>
                            <input type="text" placeholder="Ingrese destino" class="form-control input-lg" id="ingreseDestino" tabindex="2" autocomplete="off">
                          </div>


                        </div>
                    </form>
                            <button type="button"  class="btn btn-warning">Buscar</button>
                        </li>
                    </ul>
                </li>
                <li><a href="#">im</a>
                    <ul>
                        <li>
                        <h4 align="center">Para poder utilizar esta opción debes estar registrado en la aplicación </h4>

                        </li>
                    </ul>
                </li>
                <li><a href="#">in</a>
                    <ul>
                        <li>

                        </li>
                    </ul>
                </li>
            </ul>
    </div>
</section>
