<section ng-controller='rutasColombiaBarCtrl'>
    <!-- Inicio Barra de navegacion fija parte superior de la pagina -->
    <header class="header">
    
    <ul class="flex-container">
    <li class="item1"><img src="img/logo.svg" class="imgSVG" alt="imagen SVG" title="imagen SVG" /></li>
    <li class="item" ></li>
    <li class="item" >
    <button>
    <a href="login.html">Ingresar </a>
    </button></li>
    <li class="item">
    <button>
    <a href="registro.html">Registrarse</span></a>
    </button></li>
    <li class="item" id="item4"><button>
    <a href="registro.html">Idioma <span class="icon-bici engine"></span></a>
    </button></li>
  
  </ul>

        
    
  </header>
    