<section ng-controller='rutasColombiaBarCtrl'>
    <!-- Inicio Barra de navegacion fija parte superior de la pagina -->
    <header class="header">
    
    <div class="menu">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#"><img src="img/logo.svg" class="imgSVG" alt="imagen SVG" title="imagen SVG" /></a>
			</div>
				<ul class="nav navbar-nav navbar-right">
							<li><a href="#" ><span class="glyphicon glyphicon-user"></span> Ingresar</a>
								<ul>
									<li>
									<!--<formulario login -->
										<div class="container">
											<div class="jumbotron forlogin">
												<form  action="" method="POST" id="login" name="login">
												<label> Usuario :</label>
												<input type="email" required="required" id="usuario" name="usuario" size='20' placeholder="Nombre de usuario" class="form-control">
												<label>Password:</label>
												<input type="password" required="required" id="password" name="password" size='20' placeholder="password" class="form-control">
												</br>
												<div class="col-xs-offset-2 col-xs-12">
												<input type="button" class="btn btn-default" name='boton' value="Limpiar" >
												<input type="submit" class="btn btn-warning" name='boton' value="Ingresar" >
												</div>
												</form>	
											</div>
										</div>
									</li>
								</ul>
							</li>
						<li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Registrarse</a>
							<ul>
								<li>
								<!--<formulario registro -->		
									<div class="container">
										<div class="jumbotron formregistro">
											<form  action="" method="POST" id="form" name="form1" >
												<label>Nombres :</label>
												<input type="text" required="required"	id="nombres" name="nombres" class="form-control">
												<label>Apellidos :</label>
												<input type="text" required="required" id="apellidos" name="apellidos" class="form-control">
												<label>Correo electronico :</label>
												<input type="email" required="required" id="correo" name="correo"  class="form-control">
												<label>Contraseña :</label>
												<input type="text" required="required" id="pass" name="pass" class="form-control">
												<label>Repetir contraseña :</label>
												<input type="text" required="required" id="password" name="password"  class="form-control">
												</br>
												<div class="g-recaptcha" data-sitekey="6LeoZBIUAAAAALek3LbfJQjW-yPOTAJTvO8WSv03"></div>
												</br>
												<label><input type="checkbox" value=""><a href="#" > Aceptar terminos y condiciones</a> </label>
												</br>
												</br>
												<div class="col-xs-offset-2 col-xs-12">
												<input type="button" class="btn btn-default" name='boton' value="Limpiar" >
												<input type="button" class="btn btn-warning" name='boton' value="Registrarse" onClick="comprobarClave()" >
												</div>
											</form>	
										</div>
									</div>
								</li>
							</ul>
						</li>
							<li class="idioma"><a href="#"><span class="icon-Ingles_path1"></span></a></li>
							
				</ul>
			</div>
		</div>
    