<section>
    <div id="mapCanvas">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3976.3025889766404!2d-74.07613278569451!3d4.717408896573663!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1483753775656" style=" width: 100%; height: 100%" frameborder="0" allowfullscreen></iframe>
    </div>
</section>

<section ng-controller='rutasColombiaHomeCtrl'>
    <div id="menuwrapper">
        <ul id="sidemenu">

            <li><a href="#">v</a>
                <ul>
                    <li>
                        <form class="form-horizonal">
                            <div id="botones" class="form-group btn-group btn-group-lg modo-transporte" aria-label="transporte">
                                <button tabindex="4" title="moto" type="button" data-engine="2" class="btn btn-default icon-pie engine"></button>
                                <button tabindex="5" title="carro" type="button" data-engine="1" class="btn btn-default icon-bici engine"></button>
                                <button tabindex="6" title="bus" data-engine="3" type="button" class="btn btn-default icon-transporte engine"></button>
                            </div>
                            <div class="form-group">
                                <div class="input-group" id="origen">
                                    <div class="input-group-addon" id="PuntoA">A</div>
                                    <input type="text" placeholder="Ingrese origen" class="form-control input-lg" id="ingreseOrigen" tabindex="1" autocomplete="off">
                                    <div id="gui-delete-source" class="iconic-button cancel-marker input-delete"></div>
                                </div>


                                <div class="input-group" id="Destino">
                                    <div class="input-group-addon" id="PuntoB">B</div>
                                    <input type="text" placeholder="Ingrese destino" class="form-control input-lg" id="ingreseDestino" tabindex="2" autocomplete="off">
                                </div>


                            </div>
                        </form>
                        <button type="button" class="btn btn-warning">Buscar</button>
                    </li>
                </ul>
            </li>
            <li><a href="#">im</a>
                <ul>
                    <li>
                        <h4 align="center">Para poder utilizar esta opción debes estar registrado en la aplicación </h4>

                    </li>
                </ul>
            </li>
            <li><a href="#">in</a>
                <ul>
                    <li>

                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>


<section ng-controller='rutasColombiaBarCtrl'>
    <!-- Inicio Barra de navegacion fija parte superior de la pagina -->
    <div class="container" style="padding-top: 5em;">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-1">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
		<span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="#"><img src="rutasColombia/img/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Ingresar<span class="glyphicon glyphicon-user"></span>  </a></li>
                    <li><a href="#">Registrarse<span class="glyphicon glyphicon-user"></span>  </a></li>
                    <li></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Seleccione idioma<span class="caret"></span>
        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">English</a></li>
                            <!--<li class="divider"></li> -->
                            <li><a href="#">Spanish</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
    <!-- Final Barra de navegacion fija parte superior de la pagina -->
</section>
