<!--<formulario login -->
<li>
  <ul ng-controller="menuSuperiorIngCtrl">
    <li>
      <div class="container">
        <div class="forlogin">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <form role="form" class="form-horizontal" ng-submit="ingresar()" method="POST" id="login" name="login">
                </br>
                <!-- mensajes de error-->
                <div class="mensaje">
                  <div data-ng-show="error2" class="alert alert-warning text-center">
                    <strong data-ng-bind="error2"></strong>
                  </div>
                </div>

                <div class="form-group">
                  <label for="usuario" class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">Correo:</label>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input id="usuario" name="correo" ng-model="ingresarD.correo" type="text" class="form-control" placeholder="Ingrese su usuario">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">Contraseña:</label>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input id="password" name="contrasenia" ng-model="ingresarD.contrasenia" type="password" class="form-control" placeholder="Ingrese su contraseña" >
                  </div>
                </div>
                <div class="form-group">
                  <label for="codigo" class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3"></label>
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <button type="reset" class="btn btn-default"> Limpiar</button>
                    <button type="submit" class="btn btn-default" style="background-color: #E3C83A"><span class="glyphicon glyphicon-lock"></span> Entrar</button>
                  </div>
                </div>
                <div class="social">
                  <a href="/ingresarUsuarioFacebook" class="btn btn-block btn-social btn-facebook">
													<span class="fa fa-facebook"></span>  Inicia Sesión con Facebook
													</a>
                  </br>
                  <a class="btn btn-block btn-social btn-google">
													<span class="fa fa-google"></span>  Inicia Sesión con Google
													</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>
