<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="rutasColombia/css/rutasColombiaHome.client.estilo.css">
    <link rel="stylesheet" href="rutasColombia/css/rutasColombiaBar.client.estilo.css">
    <link rel="stylesheet" href="rutasColombia/rutasColombiaiconos.client.estilo.css">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <title><%= title %></title>
  </head>
  <body>
    <!--incluir las vistas-->
    <section ng-include="rutasColombia/views/rutasColombiaInterfaz.client.view.html"></section>
    <!--incluir las views definidas por el config-->
    <section ng-view></section>

    <script type="text/JavaScript" src="rutasColombia/js/rutasColombia.client.script.js"></script>
    <script type="text/JavaScript" src="lib/angular/angular.js"></script>
    <script type="text/JavaScript" src="lib/angular-route/angular-route.js"></script>
    <script type="text/JavaScript" src="lib/angular-resource/angular-resource.js"></script>
    <script type="text/JavaScript" src="rutasColombia/rutasColombia.client.module.js"></script>
    <script type="text/JavaScript" src="rutasColombia/controllers/rutasColombia.client.controller.js"></script>
    <script type="text/JavaScript" src="rutasColombia/config/rutasColombia.client.routes.js"></script>

    <script type="text/JavaScript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/JavaScript" src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVXy7pfMRC6riCAKkvQWhWMTfn9QGR3jE&signed_in=true&callback=initMap" async defer></script>

    <script type="text/JavaScript" src="application.js"></script>

  </body>
</html>
